.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}

.form-control {
    margin: 1rem 0;
}

.form-control label,
.form-control input {
    display: block;
    width: 70%;
}
.form-control input {
    border: 1px solid black;
    font: inherit;
    border-radius:2px;
}
button {
    font: inherit;
    border: 1px solid #9b9999;
    color: #2caa80;
    background: white;
    border-radius: 3px;
    cursor: pointer;
}
button:hover,
button:active {
    background-color: #2caa80;
    color: white;
}