.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}


.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}

.card {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.card__header,
.card__content {
    padding: 1rem;
}

.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
    margin: 0;
}

.card__image {
    width: 100%;
}

.card__image img {
    width: 100%;
}

.card__actions {
    padding: 1rem;
    text-align: center;
}

.card__actions button,
.card__actions a {
    margin: 0 0.25rem;
}


button {
    font: inherit;
    border: 1px solid #9b9999;
    color: #2caa80;
    background: white;
    border-radius: 3px;
    cursor: pointer;
}
button:hover,
button:active {
    background-color: #2caa80;
    color: white;
}

.btn{
    display: inline-block;
    font: inherit;
    border: 1px solid #9b9999;
    color: #2caa80;
    background: white;
    border-radius: 3px;
    cursor: pointer;
    padding: 0.25rem 0.25rem;
    text-decoration: none;
    margin: 0.25rem 0.5rem
}
.btn:hover,
.btn:active {
    background-color: #2caa80;
    color: white;
}